*{
    font-family: 'Roboto', sans-serif;
}

.content{
    padding: 16px;
}

ol.pokemons{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    list-style: none;
    padding: 0;
    margin: 0;
}

ol.pokemons li{
    display: flex;
    flex-direction: column;
    background-color: grey;
    color: #fff;
    border-radius: 4px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    padding: 16px;
    margin: 16px;
}

ol.pokemons li img{
    width: 100%;
    height: 100%;
}